//color variables
@theme_color:             #fe5214;
@main_font_color:         #7d7d7d;

//size variables
@main_font_size:          12px;


//other variables
@main_border_css:       1px solid #c8c8c8;